h1 {
    text-align: center;
}

div.main {
    text-align: center;
}

table {
    text-align: center;
    margin: auto;
    width: 100%;
        border: none;
        margin-bottom: 20px;

}

th {
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
}
